.container {
    background-color: white;
}

.h2 {
    padding: 8px;
    color: white;
    margin-bottom: 20px;
    background-color: var(--green);
}

.h3 {
    padding: 8px;
    color: white;
    margin-top: 20px;
    background-color: var(--blue);
}

.span {
    font-style: italic;
    color: var(--green)
}

.p, .p2 {
    font-weight: bold;
    padding: 12px 8px;
    line-height: 1.4rem;
}

.p2 {
    color: white;
    background-color: var(--green);
    border-top : 1px solid black;
}

.background {  
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
}

.ul {
    padding: 8px;
    list-style: disc;
}

.li {
    list-style: circle;
    margin: 20px 0
}

.contact {
    margin: 20px 8px;
    padding: 8px;
    border-radius: 8px;
    background-color:rgba(38, 58, 128, 0.411);  
}

.boxBtn {
    display: flex;
    justify-content: space-around;
}


.btn, .btn2 {
    padding : 12px;
    width: 150px;
    margin: 30px auto;
    color: white;
    border: none;
    font-size: 1.1rem;
    transition: .4s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: var(--blue);
}

.btn2 {
    background-color: var(--green);
}

.btn:hover, .btn2:hover {
    cursor: pointer;
    background-color: red;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}